body{
    background-color: black;
}
.maindiv{
    
    width: 100vw;
    height: 100vh;
}
.container{
  
    width: 200px;
     height: 200px;
    background-color: azure;
    
}
.sq1{
    background-color: rgb(212, 75, 21);
    width: 150px;
    height: 150px;
    z-index: 1;

}
.sq2{
    background-color: rgba(10, 67, 100, 1);
    width: 150px;
    height: 150px;
    position: relative;
    top: -110px;
    left: 35px;
    z-index: 0;
    
}